.logo {
  display: inline-block;
  font-size: 3.5em;
  line-height: 140%;
  font-weight: 900;
  background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
