/* USER VARIABLES SECTION */
:root {
  --accent: #cc8869;
  --white: #ffffff;
  --dark: #070707;
  --sizeindex: calc(1vw + 1vh);
  --regular-text: 1em;
  --lineheight: 1em;
  --userfont: Roboto, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  --padding: 20px;
  --transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1);
}

/* GENERAL CSS SETTINGS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  color: var(--white);
  background-color: var(--dark);
  overflow: hidden;
}

.lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 var(--padding);
}
